.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.login-img{
    height: 70%;
    width: 40%;
}