<div class="login-container">
    <h1 class="logo text-primary" routerLink="">WealthWiser</h1>
    <img class="login-img"  src="../../assets/login img 1.jpg">
    <div class="p-5 rounded-4 shadow-lg">
        <form style="width: 18rem;" class="d-flex flex-column gap-3" [formGroup]="loginDetails" (submit)="$event.preventDefault(); login()">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
                <div class="text-danger text-end" *ngIf="loginDetails.get('email')?.invalid && (loginDetails.get('email')?.dirty || loginDetails.get('email')?.touched)">enter valid email</div>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control border-1" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
                <div class="text-danger text-end" *ngIf="loginDetails.get('password')?.invalid && (loginDetails.get('password')?.dirty || loginDetails.get('password')?.touched)">enter password min 8 characters</div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="loginDetails.invalid">Login</button>
        </form>
        <div class="text-center mt-1">If you don't have account <a routerLink="/register">register here</a></div>
    </div>
</div>
