<app-nav-bar></app-nav-bar>
<section style="height: 80vh; margin-top: 7rem;" class="d-flex align-items-start justify-content-evenly">
    <table class="table table-striped w-50 text-center">
        <thead>
          <tr class="fs-4">
            <th scope="col">Title</th>
            <th scope="col">GoalAmount</th>
            <th scope="col">Saved</th>
          </tr>
        </thead>
        <tbody>
          <tr class="fs-5" *ngFor="let goal of allGoalDetails">
            <td class="fw-semibold">{{goal.title}}</td>
            <td>{{goal.amount | currency:'INR'}}</td>
            <td>{{goal.saved | currency:'INR'}}</td>
            <td><span (click)="triggerUpdate(goal.id)" style="cursor: pointer;" class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#updateModal">
                edit
            </span></td>
            <td><span (click)="delete(goal.id)" style="cursor: pointer;" class="material-symbols-outlined">
                delete
            </span></td>
          </tr>
        </tbody>
    </table>
    <form [formGroup]="goalDetails" class="d-flex flex-column gap-3 p-3 border border-2 rounded-3" (submit)="$event.preventDefault(); add()">
      <input class="form-control" type="text" placeholder="title" formControlName="title">
      <input class="form-control" type="number" placeholder="Goal Amount" formControlName="amount">
      <input class="form-control" type="number" placeholder="saved" formControlName="saved">
      <button class="btn btn-primary" type="submit" [disabled]="goalDetails.invalid">add</button>
    </form>
</section>

<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center fw-bold">Update Goal</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateGoalDetails" class="d-flex flex-column gap-3 p-3 border border-2 rounded-3" (submit)="$event.preventDefault(); update()">
                    <input class="form-control" type="text" placeholder="title" formControlName="title">
                    <input class="form-control" type="number" placeholder="Goal Amount" formControlName="amount">
                    <input class="form-control" type="number" placeholder="saved" formControlName="saved">
                    <button data-bs-dismiss="modal" class="btn btn-primary" type="submit" [disabled]="updateGoalDetails.invalid">add</button>
                  </form>
            </div>
        </div>
    </div>
</div>