<nav *ngIf="service.isUserLogedIn" class="navbar navbar-expand-lg bg-body-tertiary p-2 shadow-sm fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand fs-2 text-primary">WealthWiser</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-opt" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 fw-medium d-flex flex-row justify-content-end w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expenses">Expenses</a>
        </li>
        
        <div class="custom-dropdown">
          <li class="nav-item">
            <a class="nav-link material-symbols-outlined fs-2">list</a>
          </li>
          <div class="custom-dropdown-menu bg-body-tertiary rounded-2 shadow p-2">
            <li class="nav-item">
              <a class="nav-link" routerLink="/goals">SavingGoals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/account">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" (click)="logout()">Logout</a>
            </li>
          </div>
        </div>
        <div class="ms-2 me-3 p-1 nav-item rounded-1 d-flex align-items-center"><span class="material-symbols-outlined fs-3">account_circle</span>{{username}}</div>
      </ul>
    </div>
  </div>
</nav>
