<app-nav-bar></app-nav-bar>
<div style="margin-top: 5rem;" class=" d-flex justify-content-center flex-wrap gap-4">
    <div class="text-danger fw-bolder fs-3 mt-5" *ngIf="expenses.length == 0">
        No expenses found!
    </div>
    <div class="hover-effect card p-4 rounded-4 shadow mt-5 border-0" style="width: 18rem; height: 12rem;" *ngFor="let expense of expenses.slice().reverse()">
        <p class="card-title text-primary fw-bolder">{{expense.title}}</p>
        <p class="card-subtitle text-success fw-medium">₹{{expense.amount}}/-</p>
        <p class="card-text text-secondary">{{expense.description}}</p>
        <div class="d-flex justify-content-between gap-3">
            <button disabled class="btn btn-outline-primary btn-sm">{{expense.category}}</button>
            <div class="d-flex gap-2">
                <span class="material-symbols-outlined text-secondary cursor-pointer" (click)="activateModalUpdateExpense(expense.id)" data-bs-toggle="modal" data-bs-target="#updateModal">
                    edit
                </span>
                <span class="material-symbols-outlined text-danger cursor-pointer" (click)="deleteExpense(expense.id)">
                    delete
                </span>
            </div>
        </div>
    </div>
</div>
<span type="button" class="bounce-2 hover-effect-btn material-symbols-outlined btn btn-secondary position-fixed bottom-0 end-0 m-5 p-3 rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">add</span>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center fw-bold">Add Your Expense</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form d-flex flex-column gap-3" [formGroup]="expenseDetails"  (ngSubmit)="$event.preventDefault(); submitExpense()">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingTitle" placeholder="title" formControlName="title">
                        <label for="floatingTitle">Title</label>
                        <div class="text-danger text-end" *ngIf="expenseDetails.get('title')?.invalid && (expenseDetails.get('title')?.dirty || expenseDetails.get('title')?.touched)">enter min 5 and max 25 characters</div>
                    </div>
                    <select class="form-select p-3" formControlName="category">
                        <option value="0" disabled>select category</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Food">Food</option>
                        <option value="Traveling">Traveling</option>
                        <option value="Bill">Bills</option>
                        <option value="Rent">Rent</option>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="form-floating">
                        <textarea type="text" class="form-control" id="floatingDescription" placeholder="Description" formControlName="description"></textarea>
                        <label for="floatingDescription">Description</label>
                    </div>
                    <div class="form-floating">
                        <input step="0.01" type="number" class="form-control" id="floatingAmount" placeholder="Amount" formControlName="amount">
                        <label for="floatingAmount">Amount</label>
                        <div class="text-danger text-end" *ngIf="expenseDetails.get('amount')?.invalid && (expenseDetails.get('amount')?.dirty || expenseDetails.get('amount')?.touched)">Enter amount</div>
                    </div>
                    <div class="form-floating">
                        <input step="0.01" type="date" class="form-control" id="floatingAmount" placeholder="Date" formControlName="date">
                        <label for="floatingAmount">Date</label>
                        <div class="text-danger text-end" *ngIf="expenseDetails.get('date')?.invalid && (expenseDetails.get('date')?.dirty || expenseDetails.get('date')?.touched)">Enter amount</div>
                    </div>
                    <div class="d-flex justify-content-center"><button data-bs-dismiss="modal" class="btn btn-primary w-25" type="submit" [disabled]="expenseDetails.invalid">Add</button></div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center fw-bold">Update Expense</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form d-flex flex-column gap-3" [formGroup]="updateExpenseDetails"  (ngSubmit)="$event.preventDefault(); updateDetails()">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingTitle" placeholder="title" formControlName="updateTitle">
                        <label for="floatingTitle">Title</label>
                    </div>
                    <select class="form-select p-3" formControlName="updateCategory">
                        <option value="Shopping">Shopping</option>
                        <option value="Food">Food</option>
                        <option value="Traveling">Traveling</option>
                        <option value="Bill">Bills</option>
                        <option value="Rent">Rent</option>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Other">Other</option>
                      </select>
                    <div class="form-floating">
                        <textarea type="text" class="form-control" id="floatingDescription" placeholder="Description" formControlName="updateDescription"></textarea>
                        <label for="floatingDescription">Description</label>
                    </div>
                    <div class="form-floating">
                        <input step="0.01" type="number" class="form-control" id="floatingAmount" placeholder="Amount" formControlName="updateAmount">
                        <label for="floatingAmount">Amount</label>
                    </div>
                    <div class="form-floating">
                        <input step="0.01" type="date" class="form-control" id="floatingAmount" placeholder="Date" formControlName="updateDate">
                        <label for="floatingAmount">Date</label>
                    </div>
                    <div class="d-flex justify-content-center"><button data-bs-dismiss="modal" class="btn btn-primary w-25" type="submit" [disabled]="updateExpenseDetails.invalid">Update</button></div>
                </form>
            </div>
        </div>
    </div>
</div>