<app-nav-bar></app-nav-bar>
<section style="margin-top: 6rem;" class="d-flex align-items-center justify-content-evenly text-center">
  <div class="hover-effect shadow px-5 py-3 rounded-4 d-flex flex-column">
    <span class="text-success fs-4 fw-bold">Expense Budget</span>
    <span class="fs-4 text-success text-center">{{balanceDetails.balance | currency:'INR'}}</span>
  </div>
  <div class="hover-effect shadow px-5 py-3 rounded-4 d-flex flex-column">
    <span class="text-danger fs-4 fw-bold">Overall Spent</span>
    <span class="fs-4 text-danger text-center">{{spent | currency :'INR'}}</span>
  </div>
  <div class="hover-effect shadow px-5 py-3 rounded-4 d-flex flex-column">
    <span class="text-warning fs-4 fw-bold">Remaining Budget</span>
    <span class="fs-4 text-warning text-center">{{remaining | currency :'INR'}}</span>
  </div>
</section>

<section class="d-flex flex-column align-items-center justify-content-center mt-4">
    <span class="fs-3 fw-bold text-primary">Expenses Overview</span>
    <div class="w-50" [chart]="pieChart">

    </div>
</section>

<section style="height: 100vh;" class="d-flex flex-column align-items-center justify-content-center gap-4">
  <p class="fs-3 fw-bold text-primary">Saving Goals Overview</p>
  <div *ngIf="savingGoals.length == 0" class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-danger">No Saving Goals Found!</p>
    <p>You can go to saving goals section and add the goals.</p>
  </div>
  <div *ngIf="savingGoals.length > 0" class="d-flex flex-row align-items-center justify-content-center gap-5 flex-wrap">
    <div class="hover-effect shadow px-5 py-3 rounded-5" *ngFor="let goal of savingGoals">
      <ngx-gauge type="arch" [cap]="'round'" [size]="200" [value]="goal.saved" [label]="goal.title" [max]="goal.amount" [thick]="10" foregroundColor="#198754">
        <ngx-gauge-value class="fs-2 text-success">
          {{(goal.saved/goal.amount)*100 | number : '1.1-2'}}%
        </ngx-gauge-value>
      </ngx-gauge>
    </div>
  </div>
</section>