<div class="">
    <button class="hover-effect-btn bounce-2 btn btn-outline-primary l-btn-position" routerLink="login">Login</button>
    <section class="home-section">
        <div class="hover-effect d-flex flex-column p-4 border border-primary border-3 rounded-4">
            <h1 class="text-center text-primary fs-1 mb-3">Welcome to WealthWiser</h1>
            <p class="text-center">"Budgeting today for a better tommorrow"</p>
            <p class="text-center">We're here to help you manage your finances better!</p>
        </div>
        <img class="home-img" src="../../assets/10191042.jpg" alt="img">
    </section>
    <section class="home-section">
        <img class="home-img" src="../../assets/4025692.jpg" alt="img">
        <div class="hover-effect d-flex flex-column p-4 border border-danger border-3 rounded-4 ">
            <h2 class="text-center text-danger fs-1 mb-3">Add Expenses</h2>
            <p class="text-center">Track your expenses easily by adding them to your account.</p>
            <p class="text-center">See in which your spending how much remaining.</p>
        </div>
    </section>
    <section class="home-section">
        <div class="hover-effect d-flex flex-column p-4 border border-danger border-3 rounded-4">
            <h2 class="text-center text-danger fs-1 mb-3">Saving Goals</h2>
            <p class="text-center">Set saving goals and keep track of your progress.</p>
            <p class="text-center">See which goals you've achieved and how much is remaining.</p>
        </div>
        <img class="saving-img" src="../../assets/Na_Dec_34.jpg" alt="img">
    </section>
    <footer class="footer d-flex flex-column align-items-center justify-content-center gap-3">
        <h5 class="text-light">All Copyrights are reserved to WealthWiser</h5>
        <div class="d-flex gap-5">
            <i class="fa-regular fa-envelope text-light fs-4"></i>
            <i class="fa-brands fa-x-twitter text-light fs-4"></i>
            <i class="fa-brands fa-instagram text-light fs-4"></i>
        </div>
    </footer>
</div>