.l-btn-position{
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.home-section{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.home-img{
    height: 83%;
    width: 45%;
}
.saving-img{
    height: 80%;
    width: 60%;
}
.footer{
    height: 40vh;
    background-color: black;
}