<app-nav-bar></app-nav-bar>
<section class="p-4 d-flex flex-column justify-content-evenly border border-bottom" style="margin-top: 6rem;">
    <p class="text-center fs-2 fw-medium">Add expense limit for month</p>
    <div class="d-flex flex-row align-items-center justify-content-evenly">
      <div class="w-25">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Expense Limit</th>
                  <th scope="col">Month</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allBalanceDetails">
                  <td>{{item.balance}}</td>
                  <td>{{item.month}}</td>
                  <td><span style="cursor: pointer;" class="material-symbols-outlined fs-6" (click)="delete(item.id)">
                      delete
                  </span></td>
                </tr>
                
              </tbody>
            </table>
      </div>
      <div class="w-25 me-3">
          <form class="form d-flex gap-2" [formGroup]="addBalance" (submit)="$event.preventDefault(); add()">
              <input class="form-control" type="number" placeholder="amount" formControlName="balance">
              <select class="form-control" formControlName="month">
                  <option value="0">select month</option>
                  <option *ngFor="let month of months" [value]="month">{{month}}</option>
              </select>
              <button class="btn btn-primary" type="submit">add</button>
          </form>
      </div>
    </div>
</section>

<section class="d-flex flex-column align-items-center justify-content-center">
  <p class="fs-2 fw-medium">Update Password</p>
  <div class="w-25">
    <form class="d-flex flex-column gap-3" [formGroup]="updatePassword" (submit)="$event.preventDefault(); updatePass()">
      <input class="form-control" placeholder="Enter old password" type="password" formControlName="oldPass">
      <div class="text-danger text-end" *ngIf="updatePassword.get('oldPass')?.invalid && (updatePassword.get('oldPass')?.dirty || updatePassword.get('oldPass')?.touched)">enter password with min 8 characters</div>
      <input class="form-control" placeholder="Enter new password" type="password" formControlName="newPass">
      <div class="text-danger text-end" *ngIf="updatePassword.get('newPass')?.invalid && (updatePassword.get('newPass')?.dirty || updatePassword.get('newPass')?.touched)">enter password with min 8 characters</div>
      <input class="form-control" placeholder="Confirm password" type="password" formControlName="cPass">
      <div class="text-danger text-end" *ngIf="updatePassword.get('cPass')?.value !== updatePassword.get('newPass')?.value && updatePassword.get('cPass')?.dirty">password not matching</div>
      <button class="btn btn-primary" [disabled]="updatePassword.invalid">Update</button>
    </form>
  </div>
</section>
