<div class="form-container">
    <h1 class="logo text-primary" routerLink="">WealthWiser</h1>
    <div class="p-5 rounded-4 shadow-lg">
        <form class="form d-flex flex-column gap-3" [formGroup]="registerForm"  (ngSubmit)="$event.preventDefault(); submitForm()">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingName" placeholder="Name" formControlName="name">
                <label for="floatingName">Name</label>
                <div class="text-danger text-end" *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">enter valid name and min 6 characters</div>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingUserName" placeholder="Username" formControlName="username">
                <label for="floatingUserName">Username</label>
                <div class="text-danger text-end" *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">enter valid username and min 6 characters</div>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email</label>
                <div class="text-danger text-end" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">enter valid email</div>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
                <div class="text-danger text-end" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">enter password with min 8 characters</div>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingCPassword" placeholder="Password" formControlName="cpassword">
                <label for="floatingCPassword">Confirm Password</label>
                <div class="text-danger text-end" *ngIf="registerForm.get('cpassword')?.value !== registerForm.get('password')?.value && registerForm.get('cpassword')?.dirty">password not matching</div>
            </div>
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey">

            </ngx-recaptcha2>
            <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
        </form>
        <span class="d-block text-end mt-1 me-1">exsting user then <a  routerLink="/login">login</a></span>
    </div>
    <img class="reg-img" src="../../assets/temp.jpg" alt="">
</div>