.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form{
    width: 30vw;
}
.logo{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.reg-img{
    width: 45%;
    height: 60%;
}